*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://i.pinimg.com/736x/7c/3c/3a/7c3c3a60c9a1a5a5e129bf3754e3ab2f.jpg');
    background-attachment: fixed;
    height: 100vh;
}

.scroll-horizontal {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: transparent
}

.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
}

.card {
    flex: 0 0 auto;
    margin: 0 10px;
}
